<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Rini Husadiyah's Map
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rini's Map</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-select interface="popover" [(ngModel)]="selectedBasemap" (ionChange)="changeBasemap()" placeholder="Pilih Basemap">
        <ion-select-option value="streets">Streets</ion-select-option>
        <ion-select-option value="topo">Topographic</ion-select-option>
        <ion-select-option value="satellite">Satellite</ion-select-option>
        <ion-select-option value="topo-vector">Topo Vector</ion-select-option>
        <ion-select-option value="gray-vector">Gray Vector</ion-select-option>
      </ion-select> 
    </ion-item>
    </ion-list>

  <div id="container"></div>
</ion-content>
